main {
  text-align: center;
  overflow: hidden;
}

.slideIn-enter .tab {
  opacity: 0;
  transform: translateY(100%);
}

.slideIn-enter-active .tab {
  opacity: 1;
  transform: translateY(0%);
}

.slideIn-exit .tab {
  opacity: 1;
  transform: translateY(0%);
}

.slideIn-exit-active .tab {
  opacity: 0;
  transform: translateY(-100%);
}

.slideIn-enter-active .tab,
.slideIn-exit-active .tab {
  transition: opacity 500ms, transform 500ms;
}
