.board_container {
  font-size: xx-large;
  font-weight: bold;
  border: none;
  width: 70%;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
}

.status {
  font-size: 1rem;
}

.active {
  border-bottom: 2px solid #ffffff;
}

.points {
  display: grid;
  grid-template-columns: 40% 10% 40%;
  justify-content: space-between;
  align-items: center;
}
