.board_container {
  font-size: xx-large;
  font-weight: bold;
  border: none;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
}

.status {
  font-size: 1rem;
}
