.button {
  font-family: 'Indie Flower';
  display: inline-block;
  padding: 7px 15px;
  border: none;
  border-radius: 50px;
  color: black;
  background: #ffff7e;
  background: -moz-linear-gradient(94deg, #ffff7e 0%, #00a8c5 100%);
  background: -webkit-linear-gradient(94deg, #ffff7e 0%, #00a8c5 100%);
  background: linear-gradient(94deg, #ffff7e 0%, #00a8c5 100%);
  cursor: pointer;
  font-weight: 600;
  font-size: 1.3rem;
  transition: all 300ms ease-in;
}

.button:hover {
  box-shadow: -2px -2px 5px 2px #ffff0036, 2px 2px 5px 2px #00800040;
}
